<div class="row">
  <div class="col-md-8 col-md-offset-2"
    ng-controller="NavigationController as Navigation">

    <ul>
      <li class="btn" ng-click="Navigation.activatePage('drivers')">Kierowcy</li>
      <li class="btn" ng-click="Navigation.activatePage('teams')">Teamy</li>
      <li class="btn" ng-click="Navigation.activatePage('races')">Wyścigi</li>
    </ul>
  </div> <!-- NavigationController -->
</div> <!-- row -->
