<div class="row">
  <div class="col-md-8 col-md-offset-2"
    ng-controller="TeamsController as Teams"
    ng-show="Teams.MetricsManager.teamsActive"
  >
    <h3>Teamy:</h3>
    <div class="well">
      <span class="glyphicon glyphicon-search"> </span> <input type="text" placeholder="Wyszukaj team..." class="input-sm" ng-model="search"> <span class="clickable glyphicon glyphicon-remove" ng-click="search = ''"></span>
      <button type="button" class="btn btn-info pull-right">Dodaj team</button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nazwa Teamu</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in Teams.DataManager.teams | filter:search | orderBy:'name'">
          <td><a
                ng-click="Teams.MetricsManager.setActiveTeam(team.id)"
                data-toggle="modal"
                data-target="#teamDrivers-modal"
                class="clickable"
              >{{team.name}}</a></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- TeamsController -->
</div> <!-- row -->
