<div class="row">
  <div class="col-sm-8 col-sm-offset-2"
    ng-controller="RacesController as Races"
    ng-show="Races.MetricsManager.racesActive"
  >
    <h3>Wyścigi:</h3>
    <div class="well">
      <span class="glyphicon glyphicon-search"> </span> <input type="text" placeholder="Wyszukaj wyścig..." class="input-sm" ng-model="search"> <span class="clickable glyphicon glyphicon-remove" ng-click="search = ''"></span>
      <button type="button" class="btn btn-info pull-right">Dodaj wyścig</button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data wyścigu</th>
          <th>Tor / Nazwa</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="race in Races.DataManager.races | filter:search | orderBy:'name'">
          <td>{{race.date}}</td>
          <td>{{race.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
