<div class="row">
  <div class="col-md-8 col-md-offset-2"
    ng-controller="DriversController as Drivers"
    ng-show="Drivers.MetricsManager.driversActive"
  >
    <h3>Kierowcy:</h3>
    <div class="well">
      <span class="glyphicon glyphicon-search"> </span> <input type="text" placeholder="Wyszukaj kierowcę..." class="input-sm" ng-model="search"> <span class="clickable glyphicon glyphicon-remove" ng-click="search = ''"></span>
      <button type="button" class="btn btn-info pull-right">Dodaj kierowcę</button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nick</th>
          <th>Nick na Wykop.pl</th>
          <th>Team</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="driver in Drivers.DataManager.drivers | filter:search | orderBy:'name'">
          <td>{{driver.name}}</td>
          <td><a ng-href="http://www.wykop.pl/ludzie/{{driver.wykopNickname}}/" target="_blank">{{driver.wykopNickname}}</a></td>
          <td><a
                ng-click="Drivers.MetricsManager.setActiveTeam(driver.team)"
                data-toggle="modal"
                data-target="#teamDrivers-modal"
                class="clickable"
              >
            {{driver.team | teamsFilter}}</a></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- DriversController> -->
</div> <!-- row -->
