<div class="modal" id="teamDrivers-modal" ng-controller="TeamModalController as TeamModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>  {{TeamModal.DataManager.getTeam(TeamModal.MetricsManager.activeTeam).name}}</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nick</th>
                  <th>Nick na Wykop.pl</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="driver in TeamModal.DataManager.drivers | driversByActiveTeamFilter">
                  <td>{{driver.name}}</td>
                  <td><a ng-href="http://www.wykop.pl/ludzie/{{driver.wykopNickname}}/" target="_blank">{{driver.wykopNickname}}</a></td>
                </tr>
              </tbody>
            </table>

            <button type="button" class="btn btn-danger pull-right"
              data-dismiss="modal"
            >Zamknij</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- TeamModalController -->
